.color-red{
    color: red;
}

.tab-content{
    background-image: url(https://raw.githubusercontent.com/Samu-Dev/projectC4-web/main/IMAGENES/recursos/cookbg.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
    background-color: red;
}

.nav-link{
    color: red;
}

.nav-link:focus, .nav-link:hover {
    color: #00ff88;
}


